SECRET_KEY=troque-por-uma-chave-aleatoria-e-secreta
DATABASE_URL=sqlite:///portal_python.db
ADMIN_NAME=Professor Python
ADMIN_EMAIL=professor@portalpython.local
ADMIN_PASSWORD=PortalPython@2026
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/auth/google/callback
SESSION_COOKIE_SECURE=false

# Em Render com Persistent Disk, use o mesmo caminho do Mount Path do disco.
# Exemplo: /var/data/uploads
UPLOAD_FOLDER=/var/data/uploads

# Backblaze B2 (recomendado em produção para armazenamento permanente)
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=SitPython
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
